[submodule "tools"]
	path = tools
	url = https://github.com/draperlaboratory/hope-tools.git
	branch = master
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/draperlaboratory/hope-riscv-gnu-toolchain.git
	branch = master
[submodule "policies"]
	path = policies
	url = https://github.com/draperlaboratory/hope-policies.git
	branch = master
[submodule "FreeRTOS"]
	path = FreeRTOS
	url = https://github.com/draperlaboratory/hope-FreeRTOS.git
	branch = master
[submodule "policy-tool"]
	path = policy-tool
	url = https://github.com/draperlaboratory/hope-policy-tool.git
	branch = master
[submodule "policy-engine"]
	path = policy-engine
	url = https://github.com/draperlaboratory/hope-policy-engine.git
	branch = master
[submodule "freedom-e-sdk"]
	path = freedom-e-sdk
	url = https://github.com/draperlaboratory/hope-freedom-e-sdk.git
	branch = master
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = https://github.com/draperlaboratory/hope-riscv-newlib.git
	branch = master
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/draperlaboratory/hope-llvm-project.git
	branch = master
[submodule "qemu"]
	path = qemu
	url = https://github.com/draperlaboratory/hope-qemu.git
	branch = master
[submodule "riscv-openocd"]
	path = riscv-openocd
	url = https://github.com/draperlaboratory/hope-riscv-openocd.git
[submodule "pex-kernel"]
	path = pex-kernel
	url = https://github.com/draperlaboratory/hope-pex-kernel.git
[submodule "pex-firmware"]
	path = pex-firmware
	url = https://github.com/draperlaboratory/hope-pex-firmware.git
[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim.git
[submodule "freedom-elf2hex"]
	path = freedom-elf2hex
	url = https://github.com/sifive/freedom-elf2hex
[submodule "libns550"]
	path = libns550
	url = https://github.com/draperlaboratory/hope-libns550
[submodule "pex-bootrom"]
	path = pex-bootrom
	url = https://github.com/draperlaboratory/hope-pex-bootrom.git
[submodule "hope-bsp"]
	path = hope-bsp
	url = https://github.com/draperlaboratory/hope-bsp.git
