[submodule "tools"]
	path = tools
	url = https://github.com/draperlaboratory/hope-tools.git
	branch = master
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/draperlaboratory/hope-riscv-gnu-toolchain.git
	branch = master
[submodule "policies"]
	path = policies
	url = https://github.com/draperlaboratory/hope-policies.git
	branch = master
[submodule "FreeRTOS"]
	path = FreeRTOS
	url = https://github.com/draperlaboratory/hope-FreeRTOS.git
	branch = master
[submodule "policy-tool"]
	path = policy-tool
	url = https://github.com/draperlaboratory/hope-policy-tool.git
	branch = master
[submodule "policy-engine"]
	path = policy-engine
	url = https://github.com/draperlaboratory/hope-policy-engine.git
	branch = master
[submodule "freedom-e-sdk"]
	path = freedom-e-sdk
	url = https://github.com/draperlaboratory/hope-freedom-e-sdk.git
	branch = master
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = https://github.com/draperlaboratory/hope-riscv-newlib.git
	branch = master
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/draperlaboratory/hope-llvm-project.git
	branch = master
[submodule "qemu"]
	path = qemu
	url = https://github.com/draperlaboratory/hope-qemu.git
	branch = master
