[submodule "tools"]
	path = tools
	url = ../hope-tools.git
	branch = master
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = ../hope-riscv-gnu-toolchain.git
	branch = master
[submodule "policies"]
	path = policies
	url = ../hope-policies.git
	branch = master
[submodule "FreeRTOS"]
	path = FreeRTOS
	url = ../hope-FreeRTOS.git
	branch = master
[submodule "policy-tool"]
	path = policy-tool
	url = ../hope-policy-tool.git
	branch = master
[submodule "renode"]
	path = renode
	url = ../hope-renode.git
	branch = master
[submodule "policy-engine"]
	path = policy-engine
	url = ../hope-policy-engine.git
	branch = master
[submodule "renode-plugins"]
	path = renode-plugins
	url = ../hope-renode-plugins.git
	branch = master
[submodule "freedom-e-sdk"]
	path = freedom-e-sdk
	url = ../hope-freedom-e-sdk.git
	branch = master
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = ../hope-riscv-newlib.git
	branch = master
[submodule "llvm-riscv"]
	path = llvm-riscv
	url = ../hope-llvm-riscv.git
	branch = master
[submodule "qemu"]
	path = qemu
	url = ../hope-qemu.git
	branch = master
